<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Clone Zoom</title>

  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
  <link rel="stylesheet" href="style.css" />

  <!-- import the webpage's javascript file -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.20.0/dist/axios.min.js"></script>
  <script src="https://cdn.stringee.com/sdk/web/2.2.1/stringee-web-sdk.min.js"></script>
  <script type="text/javascript"
    src="https://v2.stringee.com/web-sdk-conference-samples/js/latest.sdk.bundle.min.js"></script>

    <!-- icon -->
    <script src="https://kit.fontawesome.com/df0e8e2a6d.js" crossorigin="anonymous"></script>
</head>

<body>
  
  <div class="container-fluid has-text-centered" id="app">
    
    <h1 class="title" v-if="!roomId">
      Welcome to Clone Zoom
    </h1>


    <button v-if="!roomId" class="button is-primary" @click="createRoom">Create Room</button>

    <button v-if="!roomId" class="button is-info" @click="joinRoom">Join Room</button>

    
    <div v-if="roomId" class="option-bar">
      <button id="btn-sharescreen" class="button is-rounded" @click="publishVideo(true)"><i class="fas fa-desktop"></i></button>
    </div>
  </div>

  <div class="container">
    <div id="videos"></div>
  </div>
</body>

<script src="api.js"></script>
<script src="script.js"></script>

</html>